.live-pb-num {
    color: whitesmoke;
    font-style: 'Quantico', 'Cursive';
    background-color: #504f54;
    display: inline;
    padding: 3px 8px;
    border-radius: 5px;
    border: solid red 2px;
}

button.hero-button {
    background-color: transparent;
    color: whitesmoke;
    border-radius: 5px;
    display: inline;
}

h4.tagline {
    color: whitesmoke;
    margin-top: 0;
}

h2.logo {
    margin-bottom: 0;
  }

  h4.jackpot {
      color: black;
  }

  h4.logo {
    font-size: 50px;
    color: "white";
    text-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;
  }


  .powerballs {
    display: inline-block;
  
}

.mt-15 {
    margin-top: 20px;
}

.noInput{
    text-align: center;
}

button {
    z-index: -1;
}

div.powerballs-wrap {
    display: inline-block;
    background: white;
    margin: 1.75px;
    padding: 1.5px;
    border-radius: 50%;
    height: 50px;
    width: 50px;    
    border: solid black .50px;
    margin-top: 15px;
   

}

.powerballNumber {
    color: black;
    font-weight: 600; 
    font-size: 1.95rem;
  
} 

#redBall {
    color: whitesmoke;
    background-color: red;
    /* font-weight: 600;
    border-radius: 50%; */
} 

.moment {
    font-family: 'Quantico', 'Cursive';
    background-color: #504f54;
    border-radius: 4px;
    color: whitesmoke;
    padding: 0 4px;
    border: solid black 1px;
    text-shadow: crimson;   

}

.realticket {
    background-image: url(./powerball.jpg); 
    background-size: cover;
    
    height: 200px;
    border-style: outset;    
}

/* Enter tix Dashboard */
.my-ticketNo { 
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
    font-family: 'Quantico';  
    padding: 7px;
}
.my-ticketNo:hover { transform: scale(1.1); }

/* Edit Icon upper right of Enter Tix Dashboard */
.edit {
float: left; 
margin-left: 5px;
transition: all .2s ease-in-out;
}

.edit:hover {transform: scale(1.1);}

.currentJpot {
    font-family: 'Quantico';   
    text-shadow: -1px 0 whitesmoke, 0 .5px whitesmoke, .5px 0 black, 0 -1px black;
    font-size: 1.8em;
    color: "red";
    border-radius: 9px;
    border: solid red 1.5px;
    margin-top: 10px;
    padding-top: 5px;
    border-top: solid red 4px;
    border-bottom: solid red 4px;
    background-color: "#d9d6cf";
    cursor: "pointer"
}
.current-jackpot {
    font-size: 2.5rem;   
}
/* Dashboard, top row */
.right {text-align: right;}
.left {text-align: left;}

.icon1:hover,  .icon2:hover, .icon3:hover, .icon4:hover { transition: all .2s ease-in-out; }
.icon1:hover,  .icon2:hover, .icon3:hover, .icon4:hover { transform: scale(1.7); }

.icons li {
    display: inline;       
}

h4, h6 {
    font-weight: bold;
    margin: 4px;
   
}

.moment:hover {
 opacity: .75;
 background-color: red;
}

button.myWinningsbtns {

    color: royalblue;
}


button#myWinningsbtns {

    color: royalblue;
}

li {
    margin-top: 10px;
}

button.myMatches {
    z-Index: -1;
    position: absolute;
}

h5#prizeBoxes {
font-family: "Quantico", "Cursive";
font-size: "1.5rem";
margin-top: "10px";
color: "white";
position: "absolute";
display: "center";
text-align: "center";
margin-top: "5px";
}
