.live-pb-num {
    color: whitesmoke;
    font-style: 'Quantico', 'Cursive';
    background-color: #504f54;
    display: inline;
    padding: 3px 8px;
    border-radius: 5px;
    border: solid red 2px;
}

button.hero-button {
    background-color: transparent;
    color: whitesmoke;
    border-radius: 5px;
    display: inline;
}

h4.tagline {
    color: whitesmoke;
    margin-top: 0;
}

h2.logo {
    margin-bottom: 0;
  }

  h4.jackpot {
      color: black;
  }

  h4.logo {
    font-size: 50px;
    color: "white";
    text-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;
  }


  .powerballs {
    display: inline-block;
  
}

.noInput{
    text-align: center;
}

button {
    z-index: -1;
}

div.powerballs-wrap {
    display: inline-block;
    background: white;
    margin: 1.75px;
    padding: 1.5px;
    border-radius: 50%;
    height: 50px;
    width: 50px;    
    border: solid black .50px;
    margin-top: 15px;
   

}

.powerballNumber {
    color: black;
    font-weight: 600; 
    font-size: 1.95rem;
  
} 

#redBall {
    color: whitesmoke;
    background-color: red;
    /* font-weight: 600;
    border-radius: 50%; */
} 

.moment {
    font-family: 'Quantico', 'Cursive';
    background-color: #504f54;
    border-radius: 4px;
    color: whitesmoke;
    padding: 0 4px;
    border: solid black 1px;
    text-shadow: crimson;   

}

.moment:hover {
 opacity: .75;
 background-color: red;
}

button.myWinningsbtns {

    color: royalblue;
}


button#myWinningsbtns {

    color: royalblue;
}

li {
    margin-top: 10px;
}

button.myMatches {
    z-Index: -1;
    position: absolute;
}
