.App {
  text-align: center;
}




#pro {
  color: red;
}

/* homepage buttons */
.btn {
  color: whitesmoke;  
  text-decoration: none;
}

.App-header {
  min-height: 80vh;
  display: flex;
  /* flex-direction: row;  */
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  display: block;
  margin: 3px;
 

}

.powerballs {
  color: whitesmoke;
}
