.live-pb-num {
    color: whitesmoke;
    font-style: 'Quantico', 'Cursive';
    background-color: #504f54;
    display: inline;
    padding: 3px 8px;
    border-radius: 5px;
    border: solid red 2px;
}

button.hero-button {
    background-color: transparent;
    color: whitesmoke;
    border-radius: 5px;
    display: inline;
}

h4.tagline {
    color: whitesmoke;
    margin-top: 0;
}

h1.logo {
    margin-bottom: 0;
  }

  h4.jackpot {
      color: black;
  }

  h2.powerballer {
    font-size: 3.5rem;
    margin: 5px;
  }

  .powerballs {
    display: inline-block;
  
}

h3.landingH3 {
    font-family: "Quantico", 'Cursive';
}



.powerballs-wrap {
    display: inline-block;
    background: whitesmoke;
    margin: 1.75px;
    padding: 1.5px;
    border-radius: 50%;
    height: 75px;
    width: 75px;    
    border: solid black .50px;
    margin-top: 15px;
   

}

.powerballNumber {
    color: black;
    font-weight: 600; 
    font-size: .99rem;
  
} 

form.noInput {
    text-align: center;
}
#redBall {
    color: whitesmoke;
    background-color: red;
    /* font-weight: 600;
    border-radius: 50%; */
} 

time.moment {
    font-family: 'Quantico', 'Cursive';
    background-color: red;
    border-radius: 4px;
    color: whitesmoke;
    padding: 0 4px;
    border: solid black 1px;
    text-shadow: crimson;   

}

time.moment:hover {
 opacity: .75;
 background-color: green;
}

.powerball-input {
    color: red;
}

#landingBtnLeft:hover, #landingBtnRight:hover { transition: all .2s ease-in-out; }
#landingBtnLeft:hover, #landingBtnRight:hover { transform: scale(1.15); }


