.App {
  text-align: center;
}

/* Powerball title on hompage */
.pb-title {
  font-family: 'Quantico', 'Cursive';
  background-color:  rgba(0, 0, 0, 0.7);
  padding: 8px;
  border-radius: 10px;
}

#pro {
  color: red;
}

/* homepage buttons */
.btn {
  color: whitesmoke;  
  text-decoration: none;
}

.App-header {
  min-height: 80vh;
  display: flex;
  /* flex-direction: row;  */
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  display: block;
  margin: 3px;
 

}

.powerballs {
  color: whitesmoke;
}
