@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quantico', sans-serif;
}


.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: red;
    font-size: 24px;
    
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 30px;
    height: 30px;
}

.countdown-item span {
    color: red;
    font-size: 9.5px;
    font-weight: 600;
    text-transform: uppercase;
}
