@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quantico', sans-serif;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: red;
    font-size: 25px;
    
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 30px;
    height: 30px;
}

.countdown-item span {
    color: #333;
    font-size: 6px;
    font-weight: 600;
    text-transform: uppercase;
}


/* .countdown-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
} */