.footer {
  min-height: 60px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;  
  border-top: solid white 1px;
  bottom: 0;  
  width: 100%;
}

/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

} */


.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;  
}
