.footer {
  min-height: 80px;
  background: black;
  position: relative;
  border-top: solid white 2px;
  bottom: 0;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: red;
}
