.navbar-brand {
  font-family: 'Quantico', 'Cursive';
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);  
}

button#btn-sm:hover {
  background-color: royalblue;
}

a.powerballer {
  text-decoration: none;
  
}

#navJackpot {
  font-size: .89rem;
}

span.blink{ 
  animation: blink 4s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .35;}
100%{opacity: 1;}
}
