.navbar-brand {
  font-family: 'Quantico', 'Cursive';
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

button#btn-sm:hover {
  background-color: royalblue;
}

a.powerballer {
  text-decoration: none;
  
}

#navJackpot {
  font-size: .90rem;
}

  
