.hero {
  height: 675px;
  background-size: cover;
  background-position: center;
  position: relative;  
  border-bottom: solid white 1px;
  margin-top: 20px;
  
}


.hero::after {
  content: "";
  display: block;
  opacity: .75;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h3, .hero h2 {
  color: white;
}

.hero h3 {
  color: whitesmoke;
 
}

.hero h1, .hero h2 {
  font-size: 80px;
  font-weight: bolder;
  padding-top: 70px;
  margin-top: 0;
  font-family: 'Quantico', 'Cursive';
  text-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;
}

#pro {
  color: red;
  
}
